<header class="fixed top-0 left-0 w-full h-20 flex items-center z-40 bg-gradient-to-b from-eerie-black to-eerie-black/0">
    <div class="max-w-screen-2xl w-full mx-auto px-4 flex justify-between items-center">
        <h1>
            <a href="/" class="logo">
                <img src="/images/ghibli-square-crop.png" alt="Jovan Babic" width="40" height="40">
            </a>
        </h1>

        <div class="relative md:justify-self-center">
            <button (click)="toggleNavOpen()" class="menu-btn md:invisible">
                <span class="material-symbols-rounded">
                    {{ navOpen ? 'close' : 'menu' }}
                </span>
            </button>

            <app-navbar [navOpen]="navOpen" />
        </div>
        
        <div></div>
    </div>
</header>