<section id="home" class="pt-28 lg:pt-36">
    <div class="container items-center lg:grid lg:grid-cols-2 lg:gap-10">
        <div>
            <div class="flex items-center gap-3">
                <figure class="img-box w-9 h-9 rounded-lg">
                    <img src="/images/safari-ball.png" alt="Safari Ball" width="40" height="40" class="img-cover" />
                </figure>

                <div class="flex items-center gap-1.5 text-nyanza text-sm tracking-wide">
                    <span class="relative w-2 h-2 rounded-full bg-green-600">
                        <span class="absolute inset-0 w-2 h-2 rounded-full bg-green-600 animate-ping"></span>
                    </span>

                    Open to new opportunities
                </div>
            </div>

            <h2 class="headline-1 max-w-[15ch] sm:max-w-[20ch] lg:max-w-[15ch] mt-5 mb-8 lg:mb-10">
                Designing Interactive and Scalable Web Applications
            </h2>

            <div class="flex items-center gap-3">
                <app-button
                    buttonType="primary"
                    label="Download CV"
                    icon="download"
                    [href]="resumeUrl"
                    target="_blank"
                />

                <app-button
                    buttonType="outline"
                    href="#about"
                    label="Scroll down"
                    icon="arrow_downward" 
                />
            </div>
        </div>

        <div class="hidden lg:visible lg:block">
            <figure class="w-full max-w-[480px] ml-auto rounded-[60px] overflow-hidden">
                <img src="/images/Ghibli-me.png" alt="Hero image" width="656" height="800" class="w-full scale-x-[-1]">
            </figure>
        </div>
    </div>
</section>