@if (href) {
    <a [href]="href" [target]="target" [class]="'btn btn-' + buttonType + ' ' + classes">
        {{ label }}

        @if (icon) {
            <span class="material-symbols-rounded" aria-hidden="true">
                {{ icon }}
            </span>
        }
    </a>
} @else {
    <button [class]="'btn btn-' + buttonType + ' ' + classes">
        {{ label }}

        @if (icon) {
            <span class="material-symbols-rounded" aria-hidden="true">
                {{ icon }}
            </span>
        }
    </button>
}