<section id="blog-list" class="pt-28 lg:pt-36">
    <div class="container">
        <h1 class="headline-2 mt-5 mb-8">My Blog Posts</h1>
        @for (post of posts$ | async; track $index) {
            <!-- <article>
                <h2>
                    <a [routerLink]="['/blog', post.slug]">{{ post.title }}</a>
                </h2>
                <p>{{ post.summary }}</p>
                <small>Published on: {{ post.publishedAt }}</small>
            </article> -->
            <app-blog-card
                [title]="post.title"
                [summary]="post.summary"
                [publishedAt]="post.publishedAt"
                [slug]="post.slug"
            />
        }
    </div>
</section>