@import "tailwindcss";

@plugin "tailwind-scrollbar";

@theme {
    --font-sans: "Interim", sans-serif;
    --color-nyanza: #EAF9DD;
    --color-kombu-green: #4C5D41;
    --color-charcoal-green: #314131;
    --color-kelly-green: #239A36;
    --color-forest-green: #1F6F25;
    --color-dark-charcoal-green: #304030;
    --color-eerie-black: #181E18;
    --color-sage-green: #98B397;
    --color-olive-drab: #4C5C40;
}

/* Base */

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-eerie-black text-nyanza;
}

/* Components */

.menu-btn {
    @apply w-10 h-10 grid place-items-center bg-kelly-green/10 rounded-xl ring-inset ring-1 ring-kelly-green/[0.02] backdrop-blur-2xl hover:bg-kelly-green/15 transition-[transform,background-color] active:scale-95
}

.navbar {
    @apply absolute top-full mt-2 right-0 min-w-40 p-2 bg-kelly-green/10 rounded-2xl ring-inset ring-1 ring-kelly-green/5 scale-90 isolate blur-sm opacity-0 invisible transition-[opacity,transform,filter] md:static md:flex md:items-center md:mt-0 md:opacity-100 md:blur-none md:visible md:scale-100 backdrop-blur-2xl
}

.navbar.active {
    @apply opacity-100 scale-100 visible blur-none
}

.nav-link {
    @apply grid items-center h-9 px-4 text-sm font-medium tracking-wide text-nyanza/50 hover:text-nyanza transition-colors transition-transform duration-150 ease-out md:hover:-translate-y-1
}

.nav-link.active {
    @apply text-nyanza duration-500
}

.navbar .active-box {
    @apply absolute top-2 left-2 right-2 h-9 bg-kelly-green rounded-lg -z-10 transition-[top,left] duration-500
}

.btn {
    @apply max-w-max h-9 flex items-center gap-2 px-4 rounded-xl font-medium text-sm ring-1 ring-olive-drab ring-inset transition-[background-color] cursor-pointer
}

.btn-secondary {
    @apply bg-kelly-green text-olive-drab active:bg-kelly-green/80
}

.btn .material-symbols-rounded {
    @apply text-[18px]
}

.btn:has(.material-symbols-rounded) {
    @apply pr-3    
}

.btn-primary {
    @apply h-11 bg-kelly-green text-nyanza hover:bg-forest-green active:bg-kelly-green
}

.btn-outline {
    @apply h-11 bg-kombu-green hover:bg-kombu-green/50 active:bg-kombu-green
}

/* Typography */
.headline-1 {
    @apply max-w-max;
    background: -webkit-linear-gradient(0deg, #fafafa, #a1a1aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @apply transition-all duration-300 ease-in-out lg:hover:tracking-wide;
}

.headline-1 {
    @apply text-5xl leading-tight font-semibold lg:text-[55px] lg:leading-[1.15];
}

/* Utilities */
.material-symbols-rounded {
    @apply w-[1em] h-[1em] overflow-hidden;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.container {
    @apply px-4 mx-auto lg:px-8 xl:max-w-6xl
}

.img-box {
    @apply bg-nyanza overflow-hidden
}

.img-cover {
    @apply w-full h-full object-cover
}

.section {
    @apply pt-20 lg:pt-32
}